<!DOCTYPE html>
<html>
<head>
  <title>Reader - Article Page</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>
  <header class="container mt-4 mb-4">
    <ul class="list-group">
      <% article.forEach(function(article) { %>
        <li class="list-group-item">
          <h1 class="display-4"><%= article.title %></h1>
          <h2><%= article.subtitle %></h2>
          <p>Published on <b><%= article.publication_date %></b></p>
          <p>Likes: <%= article.likes %></p>
        </li>

        <div class="card">
          <div class="card-body">
            <article>
              <p><%= article.content %></p>
            </article>
          </div>
        </div>
      <% }) %>
    </ul>
  </header>
  <main class="container">

    <button id="likeButton" onclick="likeArticle()">Like</button>
    <form action="/reader/article/<%= article.id %>/comment" method="POST">
      <input type="text" name="comment" placeholder="Add a comment">
      <button type="submit">Submit Comment</button>
    </form>

    <h2 class="mt-4">Previous Comments</h2>
    <ul class="list-group">
      <% comments.forEach(function(comment) { %>
        <li class="list-group-item">
          <p> <%= comment.comment_date %></p>
          <p> <%= comment.comment %></p>
          <p> <%= comment.author_name %></p>
          <p> <%= comment.email %></p>
        </li>
      <% }) %>
    </ul>
    <div class="pb-5">
      <a href="/" class="btn btn-danger mt-4">Back to home</a>
    </div>
  </main>

</body>
</html>
