<!DOCTYPE html>
<html>
<head>
  <title>Author - Home Page</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>
  <header class="container mt-4 mb-4">
    <h1>Pawel - Author Home Page</h1>
    <div class="d-flex">
      <button href="/author/settings" class="btn btn-warning me-2">Settings</button>
      <form action="/create_draft" method="GET">
        <button class="btn btn-info">Create new draft</button>
      </form>
    </div>
  </header>

  <main class="container">
    <section class="published-articles mt-4 mb-4">
      <h2>Published Articles</h2>
      <ul class="list-group">
        <% publishedArticles.forEach(function(article) { %>
          <div class="card m-1">
            <li class="list-group-item">
              <h3><%= article.title %></h3>
              <p>Subtitle: <%= article.subtitle %></p>
              <p>Published on: <%= article. publication_date %></p>
              <p><%= article.content.substring(0, 250) + "..." %></p>
              <p>Likes: <%= article.likes %></p>
              <div class="d-flex">
                <form action="/article-id" method="GET">
                  <div class="pe-2">
                    <input type="hidden" name="id" value="<%= article.article_id %>"> 
                    <button type="submit" class="btn btn-primary">Read more</button>
                  </div>
                </form>
                <form action="/delete-article" method="POST">
                  <div class="pe-2">
                    <input type="hidden" name="article_id" value="<%= article.article_id %>"> 
                    <button type="submit" class="btn btn-danger">Delete</button>
                  </div>
                </form>
              </div>
            </li>
          </div> 
        <% }) %>
      </ul>
    </section>

    <section class="draft-articles mt-4 mb-4">
      <h2>Draft Articles</h2>
      <ul class="list-group">
        <% draftArticles.forEach(function(draft) { %>
          <div class="card m-1">
            <li class="list-group-item">
              <h3><%= draft.title %></h3>
              <p>Subtitle: <%= draft.subtitle %></p>
              <p>Created on: <%= draft.publication_date %></p>
              <p><%= draft.content.substring(0, 250) + "..." %></p>
              <div class="d-flex">
                <form action="/article-id" method="GET">
                  <div class="pe-2">
                    <input type="hidden" name="id" value="<%= draft.draft_id%>"> 
                    <button type="submit" class="btn btn-primary">Read</button>
                  </div>
                </form>
                <form action="/article-id" method="GET">
                  <div class="pe-2">
                    <input type="hidden" name="id" value="<%= draft.draft_id%>"> 
                    <button type="submit" class="btn btn-warning">Edit</button>
                  </div>
                </form>
                <form action="/publish-draft" method="POST">
                  <div class="pe-2">
                    <input type="hidden" name="draft_id" value="<%= draft.draft_id%>"> 
                    <button type="submit" class="btn btn-success">Publish</button>
                  </div>
                </form>
                <form action="/delete-draft" method="POST">
                  <div class="pe-2">
                    <input type="hidden" name="draft_id" value="<%= draft.draft_id%>"> 
                    <button type="submit" class="btn btn-danger">Delete</button>
                  </div>
                </form>
              </div>
            </li>
          </div>
        <% }) %>
      </ul>
    </section>
  </main>

</body>
</html>
