<!DOCTYPE html>
<html>
<head>
  <title>Home Page</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>
  <header class="container py-4">
    <h1>This is people's blog</h1>
    <h2>It's about the stuff people like to write about</h2>
  </header>
  
  <main class="container py-4">
    <div class="row">

      <div class="col-md-9">
        <div class="mt-4 m-3">
          <h2>Find an article by keyword</h2>
          <form action="/search-result-db" method="GET">
            <div class="input-group">
              <input id="search-box" type="text" name="keyword" value="Default" class="form-control">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </form>
        </div >
        <div class="mt-4 m-3">
          <h2>Articles List</h2>
            <ul class="list-group">
              <% availableArticles.forEach(function(article) { %>
                <div class="card m-1">
                  <li class="list-group-item">
                    <h3><%= article.title %></h3>
                    <p>Published on: <b><%= article.publication_date %></b></p>
                    <p><%= article.content.substring(0, 250) + "..." %></p>
                    <form action="/article-id" method="GET">
                      <div>
                        <input type="hidden" type="text" name="id" value="<%= article.article_id %>"> 
                        <button type="submit" class="btn btn-primary">Read more</button>
                      </div>
                    </form>
                    <p>Author: <b><%= article.author %></b></p>
                  </li>
                </div>
              <% }) %>
            </ul> 
        </div>
      </div>


      <div class="col-md-3">
        <h2>Sign up</h2>
        
        <form method="POST" action="/home">
          <div class="mb-3">
            <label for="username">Your username</label>
            <input id="username" type="text" name="username" value="" class="form-control">
          </div>
          <div class="mb-3">
            <label for="password">Your password</label>
            <input id="password" type="text" name="password" value="" class="form-control">
          </div>
          <div class="mb-3">
            <label for="email">Your email</label>
            <input id="email" type="text" name="email" value="" class="form-control">
          </div>
          <div class="mb-3">
            <label for="is_author">Are you an author?</label>
            <select class="form-control" name="is_author" id="is_author">
              <option value="Yes">Yes</option>
              <option value="No">No</option>
            </select>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </main>

  <footer class="container py-4">
    <p>&copy; <b>People's blog</b>. All rights reserved.</p>
  </footer>
  
</body>
</html>
